:root{
    --dark-violet: rgb(64,42,99);
    --light-dark-violet: rgb(60,32,105);
    --light-violet: rgb(127,44,203);
    --magenta-violet: rgb(156,65,126);
}

*{
    font-family: 'Open Sans', sans-serif !important;
}

html{
    overflow-x:hidden;
    scroll-behavior: smooth;
    
}

header{
    color:white;
}

section{
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:100px 20vh;
    min-height:100vh;
}


/*Navbar*/
#mainNav{
    background-color: var(--dark-violet)!important;
    padding:1rem;
}
.container ul li{
    margin: 10px 30px;
}
.nav-link{
    color:white !important;
    font-weight: 500;
}

.navbar-nav .nav-account .nav-link{
    color: white !important;;
}

.navbar>.container>a{
   color:white !important;
   text-decoration:none !important;
   font-weight:bold;

}
.carousel-item > .carousel-caption{
    width:100%;
    height:100%;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    padding-top:17rem;
    background-color:rgba(0, 0, 0, 0.45);
}

.carousel-item > .carousel-caption >p{
    font-size: 20px;
}

.landingHero{
    min-height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-violet);
}

h1{
    font-family: 'Open Sans',  sans-serif !important;
    font-weight: 800 !important;
    font-size: 60px !important;
}

#herow{
    margin-top:5rem !important;
}


.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.wave .shape-fill{
    fill: #FFFFFF;
}


.text-left{
    color:white !important;
}

.btn{
   width:200px !important;
   margin-left:15px; 
}

#mainForm{
    display:block;
    z-index:-1;
}

#formContent{
    position:absolute;
    left:55rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top:-50rem;
   
}

#cardForm{
    /*background-image: linear-gradient(270deg, var(--dark-violet), var(--magenta-violet));
    color:white;*/
    box-shadow: 0 5px 10px  rgb(0 0 0 / 0.2);
}

#submitBtn{
    display:flex;
    align-items:center;
    justify-content:center;
}

#featuresOffered{
    min-height:75vh;
    display:flex;
}

#featuresOffered .card:hover{
    transform:translateY(-15px);
    transition: transform 0.3s;
}

#programsHeading, #formHeading{
    background-color: var(--light-violet)!important;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

#featuresOffered>.row{
    padding-left:3.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#featuresOffered>.row>.col-md-2>img{
    width: 150px; 
    height: 150px; 
    object-fit: cover;
}

#featuresOffered>.row>.col-md-2>.container>img{
    width: 150px; 
    height: 150px; 
    object-fit: cover;
    z-index: 1;
}

.container, .program-img, .text{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.container:hover .program-img, .container:hover .text{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

#featuresOffered>.row>.col-md-2>.container>span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 150px; 
    height: 150px; 
    color: black;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    color:var(--light-violet);
}

footer{
    background-color: var(--dark-violet);
    padding:1rem;
    color:white;
}




