:root{
    --color-primary: rgb(8,34,141);
}

/*Navbar*/
#mainNav{
    background-color: var(--color-primary)!important;
    padding:0rem;
}

header{
    color:white;
}

.carousel-item > .carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.container{
    background-color: linear-gradient(to bottom, rgba(102, 102, 102, 0.123) 0%, rgba(0, 0, 0, 0.500) 70%, rgb(0, 0, 0) 100%);
}

.carousel-item > .carousel-caption >p{
    font-size: 20px;
}
.carousel-item > .carousel-caption >h1{
    color:var(--color-primary);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}


#programsOffered{
    padding-top:7.5rem;
    min-height:50vh;
}

#programsHeading, #formHeading{
    background-color: var(--color-primary)!important;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

#mainForm{
    min-height:100vh;
}

#mainForm>.card{
    padding-top:5rem;
}

#formContent{
    padding-top: 5rem;
}
